.containerDownload {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.headerDownload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.add-cardDownloads-btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-cardDownloads-btn:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form label {
  font-size: 14px;
  color: #555;
}

form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cardDownloads {
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
}

.cardDownloads-content {
  flex-grow: 1; /* ให้ cardDownloads-content ขยายเพื่อใช้พื้นที่ */
  display: flex;
  flex-direction: column;
}

.cardDownloads-content h3 {
  margin: 0;
  color: #333;
}

.cardDownloads-content div {
  margin: 5px 0;
  color: #666;
}

.button-group {
  display: flex;
  gap: 10px; /* ระยะห่างระหว่างปุ่ม */
}

.cardDownloads button {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardDownloads button:last-child {
  background-color: #dc3545;
}

.cardDownloads button:hover {
  opacity: 0.8;
}

